/*global code start */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
/* font-family start*/
:root {
  --tmdbDarkBlue: rgb(3, 37, 65);
  --tmdbfontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tmdbFamilySoursSans: "Source Sans Pro", sans-serif;
  --tmdbWeightRegular: 400;
  --tmdbWeightSemiBold: 600;
  --tmdbWeightBold: 700;
  --tmdbWeightBlack: 900;
  --tmdbWhite: white;
  --tmdbBlack: rgb(0, 0, 0);
  --tmdbLightGreen: rgb(30, 213, 169);
  --tmdbLightBlue: rgb(1, 180, 228);
}

html {
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

/* font-family end*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: var(--tmdbFamilySoursSans);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-unset {
  justify-content: unset;
}

.align-items-center {
  align-items: center;
}

.align-items-unset {
  align-items: unset;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-unset {
  flex-direction: unset;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .justify-lg-content-between {
    justify-content: space-between;
  }

  .justify-lg-content-unset {
    justify-content: unset;
  }
}
@media screen and (min-width: 1337px) {
  .container {
    max-width: 1308px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-sd-5,
.col-lg-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

/*global code end */
/*pages start*/
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  background: var(--tmdbDarkBlue);
  z-index: 100;
}
header .navbar__left {
  display: flex;
  align-items: center;
}
header .navbar__left .logo {
  display: block;
  width: 150px;
  height: 20px;
  margin-right: 16px;
}
header .navbar__left .logo img {
  width: 100%;
  height: 100%;
}
header .navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
header .navbar__menu li {
  margin-right: 14px;
}
header .navbar__link {
  display: block;
  text-decoration: none;
  padding: 8px;
  font-size: 1rem;
  font-weight: var(--tmdbWeightSemiBold);
  font-family: var(--tmdbFamilySoursSans);
  color: var(--tmdbWhite);
}
header .navbar__right {
  list-style: none;
  display: flex;
  align-items: center;
}
header .navbar__right li {
  margin-left: 30px;
}
header .navbar__right li a {
  color: var(--tmdbWhite);
  font-size: 1rem;
  font-weight: var(--tmdbWeightSemiBold);
  font-family: var(--tmdbFamilySoursSans);
  text-decoration: none;
}
header .navbar__right .icon-add a .fa {
  font-size: 1.3rem;
  color: var(--tmdbWhite);
}
header .navbar__right .translate span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  font-size: 1rem;
  font-weight: var(--tmdbWeightSemiBold);
  font-family: var(--tmdbFamilySoursSans);
  color: var(--tmdbWhite);
  background: none;
  border: 1px solid var(--tmdbWhite);
  border-radius: 3px;
  text-transform: uppercase;
  transition: linear 0.1s;
}
header .navbar__right .translate span:hover {
  color: var(--tmdbDarkBlue);
  background: var(--tmdbWhite);
}
header .navbar__right .search .btn {
  color: #01b4e4;
  background: transparent;
  border: none;
  cursor: pointer;
}
header .navbar__right .search .btn .fa {
  font-size: 20px;
}

/* header / */
/* main */
main {
  max-width: 100%;
}

/* main / */
/* .section-media */
main .section-media {
  max-width: 100%;
  margin-top: 66px;
  padding: 60px 0;
  background: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/rCxdJkk5PMCWIzRWcpqIxUaWnf1.jpg") no-repeat center center/cover;
}
main .section-media__search {
  width: 100%;
}
main .section-media__search h2 {
  font-size: 4vw;
  line-height: 4vw;
  font-weight: 700;
  color: var(--tmdbWhite);
}
main .section-media__search h3 {
  font-size: 2.1vw;
  line-height: 2.1vw;
  font-weight: 700;
  color: var(--tmdbWhite);
}
main .section-media__search .search form {
  width: 100%;
  height: 47px;
  margin-top: 50px;
  position: relative;
}
main .section-media__search .search form label input[type=text] {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  line-height: 2vw;
  font-size: 1.3vw;
  outline: none;
}
main .section-media__search .search form label input[type=text]::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
main .section-media__search .search form label input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 26px;
  font-size: 1.2vw;
  line-height: 1.2vw;
  font-weight: 700;
  color: var(--tmdbWhite);
  background: linear-gradient(to right, var(--tmdbLightGreen) 0%, var(--tmdbLightBlue) 100%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
main .section-media__search .search form label input[type=submit]:hover {
  color: var(--tmdbDarkBlue);
}

/* .section-media / */
/* section-movies */
main .section-movies__content,
main .section-trailers__content {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
main .section-movies__content h2,
main .section-trailers__content h2 {
  font-size: 1.6rem;
  font-weight: var(--tmdbWeightSemiBold);
  margin-right: 20px;
}
main .section-movies .tabs,
main .section-movies .newTabs,
main .section-movies .trailers-tabs,
main .section-trailers .tabs,
main .section-trailers .newTabs,
main .section-trailers .trailers-tabs {
  display: flex;
  list-style: none;
  border: 1px solid var(--tmdbDarkBlue);
  border-radius: 30px;
}
main .section-movies .tabs li,
main .section-movies .newTabs li,
main .section-movies .trailers-tabs li,
main .section-trailers .tabs li,
main .section-trailers .newTabs li,
main .section-trailers .trailers-tabs li {
  padding: 4px 20px;
  border-radius: 30px;
}
main .section-movies .tabs li a,
main .section-movies .newTabs li a,
main .section-movies .trailers-tabs li a,
main .section-trailers .tabs li a,
main .section-trailers .newTabs li a,
main .section-trailers .trailers-tabs li a {
  display: block;
  font-weight: var(--tmdbWeightSemiBold);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--tmdbDarkBlue);
}
main .section-movies .tabs li.active,
main .section-movies .newTabs li.active,
main .section-movies .trailers-tabs li.active,
main .section-trailers .tabs li.active,
main .section-trailers .newTabs li.active,
main .section-trailers .trailers-tabs li.active {
  background: var(--tmdbDarkBlue);
}
main .section-movies .tabs li.active a,
main .section-movies .newTabs li.active a,
main .section-movies .trailers-tabs li.active a,
main .section-trailers .tabs li.active a,
main .section-trailers .newTabs li.active a,
main .section-trailers .trailers-tabs li.active a {
  background: linear-gradient(to right, var(--tmdbLightGreen) 0%, var(--tmdbLightBlue) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .section-movies .tabs-content-item,
main .section-movies .newTabs-content-item,
main .section-movies .trailers-tabs-content-item,
main .section-trailers .tabs-content-item,
main .section-trailers .newTabs-content-item,
main .section-trailers .trailers-tabs-content-item {
  margin-top: 20px;
  display: none;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 60px;
}
main .section-movies .tabs-content-item::-webkit-scrollbar,
main .section-movies .newTabs-content-item::-webkit-scrollbar,
main .section-movies .trailers-tabs-content-item::-webkit-scrollbar,
main .section-trailers .tabs-content-item::-webkit-scrollbar,
main .section-trailers .newTabs-content-item::-webkit-scrollbar,
main .section-trailers .trailers-tabs-content-item::-webkit-scrollbar {
  height: 8px;
}
main .section-movies .tabs-content-item::-webkit-scrollbar-track,
main .section-movies .newTabs-content-item::-webkit-scrollbar-track,
main .section-movies .trailers-tabs-content-item::-webkit-scrollbar-track,
main .section-trailers .tabs-content-item::-webkit-scrollbar-track,
main .section-trailers .newTabs-content-item::-webkit-scrollbar-track,
main .section-trailers .trailers-tabs-content-item::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
main .section-movies .tabs-content-item::-webkit-scrollbar-thumb,
main .section-movies .newTabs-content-item::-webkit-scrollbar-thumb,
main .section-movies .trailers-tabs-content-item::-webkit-scrollbar-thumb,
main .section-trailers .tabs-content-item::-webkit-scrollbar-thumb,
main .section-trailers .newTabs-content-item::-webkit-scrollbar-thumb,
main .section-trailers .trailers-tabs-content-item::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 8px;
}
main .section-movies .tabs-content-item.active,
main .section-movies .newTabs-content-item.active,
main .section-movies .trailers-tabs-content-item.active,
main .section-trailers .tabs-content-item.active,
main .section-trailers .newTabs-content-item.active,
main .section-trailers .trailers-tabs-content-item.active {
  display: flex;
  flex-direction: unset;
}
main .section-movies .tabs-content-item .card,
main .section-movies .newTabs-content-item .card,
main .section-movies .trailers-tabs-content-item .card,
main .section-trailers .tabs-content-item .card,
main .section-trailers .newTabs-content-item .card,
main .section-trailers .trailers-tabs-content-item .card {
  max-width: 150px;
  width: 100%;
  flex: 0 0 auto;
  margin-right: 20px;
}
main .section-movies .tabs-content-item .card__img,
main .section-movies .newTabs-content-item .card__img,
main .section-movies .trailers-tabs-content-item .card__img,
main .section-trailers .tabs-content-item .card__img,
main .section-trailers .newTabs-content-item .card__img,
main .section-trailers .trailers-tabs-content-item .card__img {
  position: relative;
  display: block;
  width: 100%;
}
main .section-movies .tabs-content-item .card__img img,
main .section-movies .newTabs-content-item .card__img img,
main .section-movies .trailers-tabs-content-item .card__img img,
main .section-trailers .tabs-content-item .card__img img,
main .section-trailers .newTabs-content-item .card__img img,
main .section-trailers .trailers-tabs-content-item .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
main .section-movies .tabs-content-item .card__img .chart-block,
main .section-movies .newTabs-content-item .card__img .chart-block,
main .section-movies .trailers-tabs-content-item .card__img .chart-block,
main .section-trailers .tabs-content-item .card__img .chart-block,
main .section-trailers .newTabs-content-item .card__img .chart-block,
main .section-trailers .trailers-tabs-content-item .card__img .chart-block {
  transform: translate(11px, -23px);
}
main .section-movies .tabs-content-item .card__img .chart-block .chart,
main .section-movies .newTabs-content-item .card__img .chart-block .chart,
main .section-movies .trailers-tabs-content-item .card__img .chart-block .chart,
main .section-trailers .tabs-content-item .card__img .chart-block .chart,
main .section-trailers .newTabs-content-item .card__img .chart-block .chart,
main .section-trailers .trailers-tabs-content-item .card__img .chart-block .chart {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--tmdbDarkBlue);
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
main .section-movies .tabs-content-item .card__img .chart-block .chart span,
main .section-movies .newTabs-content-item .card__img .chart-block .chart span,
main .section-movies .trailers-tabs-content-item .card__img .chart-block .chart span,
main .section-trailers .tabs-content-item .card__img .chart-block .chart span,
main .section-trailers .newTabs-content-item .card__img .chart-block .chart span,
main .section-trailers .trailers-tabs-content-item .card__img .chart-block .chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--tmdbWhite);
  font-weight: var(--tmdbWeightBold);
}
main .section-movies .tabs-content-item .card__img .chart-block .chart span sup,
main .section-movies .newTabs-content-item .card__img .chart-block .chart span sup,
main .section-movies .trailers-tabs-content-item .card__img .chart-block .chart span sup,
main .section-trailers .tabs-content-item .card__img .chart-block .chart span sup,
main .section-trailers .newTabs-content-item .card__img .chart-block .chart span sup,
main .section-trailers .trailers-tabs-content-item .card__img .chart-block .chart span sup {
  font-size: 7px;
  color: var(--tmdbWhite);
}
main .section-movies .tabs-content-item .card__img .chart-block .chart canvas,
main .section-movies .newTabs-content-item .card__img .chart-block .chart canvas,
main .section-movies .trailers-tabs-content-item .card__img .chart-block .chart canvas,
main .section-trailers .tabs-content-item .card__img .chart-block .chart canvas,
main .section-trailers .newTabs-content-item .card__img .chart-block .chart canvas,
main .section-trailers .trailers-tabs-content-item .card__img .chart-block .chart canvas {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .section-movies .tabs-content-item .card__body,
main .section-movies .newTabs-content-item .card__body,
main .section-movies .trailers-tabs-content-item .card__body,
main .section-trailers .tabs-content-item .card__body,
main .section-trailers .newTabs-content-item .card__body,
main .section-trailers .trailers-tabs-content-item .card__body {
  margin-top: 30px;
  padding: 0 11px;
}
main .section-movies .tabs-content-item .card__title,
main .section-movies .newTabs-content-item .card__title,
main .section-movies .trailers-tabs-content-item .card__title,
main .section-trailers .tabs-content-item .card__title,
main .section-trailers .newTabs-content-item .card__title,
main .section-trailers .trailers-tabs-content-item .card__title {
  font-size: 1rem;
  line-height: 1.2rem;
}
main .section-movies .tabs-content-item .card__title a,
main .section-movies .newTabs-content-item .card__title a,
main .section-movies .trailers-tabs-content-item .card__title a,
main .section-trailers .tabs-content-item .card__title a,
main .section-trailers .newTabs-content-item .card__title a,
main .section-trailers .trailers-tabs-content-item .card__title a {
  color: var(--tmdbBlack);
  text-decoration: none;
}
main .section-movies .tabs-content-item .card__date,
main .section-movies .newTabs-content-item .card__date,
main .section-movies .trailers-tabs-content-item .card__date,
main .section-trailers .tabs-content-item .card__date,
main .section-trailers .newTabs-content-item .card__date,
main .section-trailers .trailers-tabs-content-item .card__date {
  font-size: 1rem;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

/* / section-movies  */
/* section-trailers */
main .section-trailers {
  position: relative;
  background: url("../../img/ZSf3cxasXnldlCxvgrBGwDuk2P.jpg") no-repeat center center/cover;
}
main .section-trailers::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(3, 37, 65, 0.75) 0%, rgba(3, 37, 65, 0.75) 100%);
}
main .section-trailers__content h2 {
  color: var(--tmdbWhite);
}
main .section-trailers .col-12 {
  z-index: 10;
}
main .section-trailers .trailers-tabs {
  border: 1px solid var(--tmdbLightGreen);
}
main .section-trailers .trailers-tabs .tab-link {
  background: transparent;
}
main .section-trailers .trailers-tabs .tab-link a {
  color: var(--tmdbWhite);
  background: transparent;
}
main .section-trailers .trailers-tabs .tab-link.active {
  background: var(--tmdbLightGreen);
}
main .section-trailers .trailers-tabs .tab-link.active a {
  color: var(--tmdbDarkBlue);
  background: transparent;
  -webkit-text-fill-color: unset;
}
main .section-trailers .trailers-tabs-content-item {
  padding-bottom: 20px;
}
main .section-trailers .trailers-tabs-content-item .card {
  max-width: 315px;
}
main .section-trailers .trailers-tabs-content-item .card__img {
  width: 100%;
  height: 177px;
}
main .section-trailers .trailers-tabs-content-item .card__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
main .section-trailers .trailers-tabs-content-item .card__img .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
main .section-trailers .trailers-tabs-content-item .card__img .btn-play .fa {
  font-size: 45px;
  color: var(--tmdbWhite);
}
main .section-trailers .trailers-tabs-content-item .card__body {
  margin-top: 15px;
  text-align: center;
}
main .section-trailers .trailers-tabs-content-item .card__body h3 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: var(--tmdbWeightSemiBold);
}
main .section-trailers .trailers-tabs-content-item .card__body h3 a {
  color: var(--tmdbWhite);
}
main .section-trailers .trailers-tabs-content-item .card__body p {
  margin-top: 5px;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: var(--tmdbWeightRegular);
  color: var(--tmdbWhite);
}
main .section-trailers-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.795);
  transform: scale(0);
  z-index: 110;
}
main .section-trailers-modal.active {
  transform: scale(1);
}
main .section-trailers-modal iframe {
  width: 552px;
  height: 340px;
  padding-top: 30px;
  background: var(--tmdbBlack);
}
main .section-trailers-modal .btn-times {
  position: absolute;
  top: 13%;
  right: 31%;
  color: var(--tmdbWhite);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* / section-trailers */
/*pages end*/

/*# sourceMappingURL=basic.css.map */
