@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

/* font-family start*/
:root {
  --tmdbDarkBlue: rgb(3, 37, 65); //color global
  --tmdbfontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tmdbFamilySoursSans: "Source Sans Pro", sans-serif;
  --tmdbWeightRegular: 400;
  --tmdbWeightSemiBold: 600;
  --tmdbWeightBold: 700;
  --tmdbWeightBlack: 900;
  --tmdbWhite: white; // global white
  --tmdbBlack: rgb(0, 0, 0); // global black
  --tmdbLightGreen: rgb(30, 213, 169);
  --tmdbLightBlue: rgb(1, 180, 228);
}
html {
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
/* font-family end*/

// font-family scss start
$tmdbWhite: var(--tmdbWhite); // global white
$tmdbBlack: var(--tmdbBlack); // global Black
$tmdbDarkBlue: var(--tmdbDarkBlue);
$tmdbfontFamily: var(--tmdbfontFamily);
$tmdbFamilySoursSans: var(--tmdbFamilySoursSans);
$tmdbWeightRegular: var(--tmdbWeightRegular);
$tmdbWeightSemiBold: var(--tmdbWeightSemiBold);
$tmdbWeightBold: var(--tmdbWeightBold);
$tmdbWeightBlack: var(--tmdbWeightBlack);
$tmdbLightGreen: var(--tmdbLightGreen);
$tmdbLightBlue: var(--tmdbLightBlue);
// font-family scss end

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: $tmdbFamilySoursSans;
}

// flex-box
@mixin display-Ju_center {
  display: flex;
  justify-content: center;
}

@mixin display-Al_center {
  display: flex;
  align-items: center;
}

@mixin display-Ju_center-Al_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-Fl-column-Al_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// flex-box /
