@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

/* font-family start*/
:root {
  --tmdbWhite: white; // global white
  --tmdbDarkBlue: rgb(3, 37, 65); //color global
  --tmdbfontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tmdbFamilySoursSans: "Source Sans Pro", sans-serif;
  --tmdbWeightSemiBold: 600;
}
html {
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
/* font-family end*/

// font-family scss start
$tmdbWhite: var(--tmdbWhite); // global white
$tmdbDarkBlue: var(--tmdbDarkBlue);
$tmdbfontFamily: var(--tmdbfontFamily);
$tmdbFamilySoursSans: var(--tmdbFamilySoursSans);
$tmdbWeightSemiBold: var(--tmdbWeightSemiBold);
// font-family scss end

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

// flex-box
@mixin display-Ju_center {
  display: flex;
  justify-content: center;
}

@mixin display-Al_center {
  display: flex;
  align-items: center;
}

@mixin display-Ju_center-Al_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-Fl-column-Al_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// flex-box /
